@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

*{
  max-width: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    font-family: 'Smokum', cursive;
    text-align: center;
    margin-bottom: 20px;
    
}
#img1{
    margin-left: -650px;
    margin-top: -500px;

}
h1:hover{
    color: rgb(141, 27, 27);
    transition: 0.5s;

}
:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}
body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
.card {
    background-image: url(imogas/raposa.jpg);
    background-repeat: no-repeat;
    background-size: 400px 500px;
    width: 400px;
    height: 500px;
    margin-left: -650px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}
.card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
}
.card::before {
    content: "";
    width: 400px;
    height: 500px;
    border-radius: 8px;

      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
}
  
.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #6b2925, #a1531f 43%, #67771d);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
} 
a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}
.emo {
  background-image: url(imogas/vizinha.jpg);
  background-repeat: no-repeat;
  background-size: 400px 500px;
  width: 400px;
  height: 500px;
  margin-left: 650px;
  margin-top: -505px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}
.emo:hover:before, .emo:hover:after {
  animation: none;
  opacity: 0;
}
.emo::before {
  content: "";
  width: 400px;
  height: 500px;
  border-radius: 8px;

    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.emo::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #201581, #2a1768 43%, #2b0e12);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
} 
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
